:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --title-color: #212121;
  --description-color: #757575;
  --btn-background: #f5f4fa;
  --background-secondary: #2f303a;
  --contact-color: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 15px;
  margin: 0 auto;
}

/*===========COMPONENTS===========*/
.logo-accent {
  color: var(--accent-color);
}
/*===========END COMPONENTS===========*/

/*===========HEADER===========*/
.header {
  padding: 25px 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 90px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.header .address {
  margin-left: auto;
}

.header .address-mail-item {
  margin-right: 50px;
}

.address {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: var(--title-color);
}

.navigation-list .navigation-list-link.current {
  color: var(--accent-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail-link:hover,
.address-mail-link:focus,
.address-tel-link:hover,
.address-tel-link:focus {
  color: var(--accent-color);
}

.address-mail-link,
.address-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--description-color);
}
/*===========END HEADER===========*/

/*===========BUTTON===========*/
.our-projects-list .modal-btn.current {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--btn-background);

  text-align: center;
  letter-spacing: 0.03em;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}
/*===========END BUTTON===========*/

/*===========ALL PROJECTS===========*/
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
/*===========END ALL PROJECTS===========*/

/*===========FOOTER===========*/
.footer {
  background-color: var(--background-secondary);
}

.contact-link:hover,
.contact-link:focus,
.contact-location:hover,
.contact-location:focus {
  color: var(--accent-color);
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.contact-location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}
/*===========END FOOTER===========*/
